@font-face {
  font-family: "iconfont"; /* Project id 1892215 */
  src: url('//at.alicdn.com/t/font_1892215_qx4yx00u5og.woff2?t=1649834301247') format('woff2'),
  url('//at.alicdn.com/t/font_1892215_qx4yx00u5og.woff?t=1649834301247') format('woff'),
  url('//at.alicdn.com/t/font_1892215_qx4yx00u5og.ttf?t=1649834301247') format('truetype');
}

.iconfont {
  font-family: "iconfont", serif !important;
  font-size: 1rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechat:before {
  content: "\e615";
}

.icon-QQ:before {
  content: "\e882";
}

.icon-twitter:before {
  content: "\e883";
}

.icon-github:before {
  content: "\e64c";
}

.icon-search:before {
  content: "\e67d";
}

@font-face {
  font-family: 'Sounso-Tiger';
  src: url('../font/No.022-Sounso-Tiger-2.ttf');
}

@font-face {
  font-family: 'SongJian';
  src: url('../font/HanYiZiDianSongJian-1.ttf');
}
